{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "extends": [
    "@nuxtjs/eslint-config-typescript",
    "plugin:nuxt/recommended"
  ],
  "plugins": [
    "vue"
  ]
}
